<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-emphasis">
    <div class="collapse navbar-collapse cnt">
        <div class="navbar-nav">
            <a class="nav-link" href="/admin">Administrador</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/">Usuário</a>
        </div>
    </div>
    <a class="navbar-text nav-link" href="/logout">Sair   <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>